/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
@import "bootstrap";

.center {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
//
//.show-left-side {
//  background-color: red;
//}
//
//.show-right-side {
//  background-color: green;
//}

.show-image {
  width: 50%;
}

.header-background {
  padding: 20px;
  background-color: dodgerblue;
}

.link-style {
  color: white;
}

.center-link {
  text-align: center;
}

.img-fluid {
  display: block;
  margin: auto;
  width: 60%;
}

.main-content {
  margin-top: 40px;
}

.btn-secondary {
  background-color: dodgerblue;
}

.dropdown-toggle {
  color: white;
}
