/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";

.center {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
//
//.show-left-side {
//  background-color: red;
//}
//
//.show-right-side {
//  background-color: green;
//}

.show-image {
  width: 50%;
}

.header-background {
  padding: 20px;
  background-color: dodgerblue;
}

.link-style {
  color: white;
}

.link-style:hover {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.center-link {
  text-align: center;
}

.img-fluid {
  display: block;
  margin: auto;
  width: 75%;
  margin-top: 20px;
}

.main-content {
  margin-top: 40px;
}

.btn-secondary {
  background-color: dodgerblue;
}

.dropdown-toggle {
  color: white;
}

.card-link {
  color: black;
}

.card-link:hover {
  text-decoration: none;
}

.back-color {
  color: white;
  margin: 10px 0 0 0;
}

.overflow-posts {
  overflow-wrap: break-word;
}

.card {
  padding: 15px;
}

.root-photos {
  width: 150px;
  height: 150px;
}

.margin-photo-background {
  margin: 25px 0 0 0;
}

.comment-image {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}

.image-link:hover {
  text-decoration: none;
}

